body {
  font-family: "Times New Roman", serif;
  overflow: hidden;
  margin: 0;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: relative;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  #wrapper {
    right: 200px;
  }
  .home {
    left: 200px;
  }
}

.quiz-logo {
  position: absolute;
  right: 380px;
  top: 70px;
  width: 25%;
}

.question-container {
  position: relative;
  left: 300px;
  top: 250px;
  margin: 0%;
  width: 35%;
}

.content {
  word-wrap: break-word;
  max-width: 500px;
  padding: 5px;
  font-size: 21px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  opacity: 0.98;
}
.fade {
  display: none;
  -webkit-animation: fadeInFromNone 1s ease-out;
  -moz-animation: fadeInFromNone 1s ease-out;
  -o-animation: fadeInFromNone 1s ease-out;
  animation: fadeInFromNone 1s ease-out;
}
@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

.true {
  position: absolute;
  top: 440px;
  right: 335px;
  padding-right: 150px;
  padding-left: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  border-width: 0;
  background-image: linear-gradient(to top, #cfd2cf, #f5eddc);
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.true-text {
  position: relative;
  right: 130px;
}

.false {
  position: absolute;
  right: 333px;
  top: 507px;
  padding-right: 145px;
  padding-left: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  border-width: 0;
  background-image: linear-gradient(to top, #cfd2cf, #f5eddc);
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.home {
  position: absolute;
  top: 50px;
  font-size: 22px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.false-text {
  position: relative;
  right: 130px;
}

.true:hover {
  background-image: linear-gradient(to bottom, white, #f5eddc);
  transition-duration: 0.4s;
}

.false:hover {
  background-image: linear-gradient(to bottom, white, #f5eddc);
  transition-duration: 0.4s;
}

.happy {
  scale: 0.7;
  position: relative;
  right: 90px;
  display: none;
  margin: 0, 0;
}

.sad {
  scale: 0.6;
  position: relative;
  right: 90px;
  display: none;
  margin: 0, 0;
}

#score-track {
  position: absolute;
  right: 50px;
  top: 50px;
  font-size: 20px;
  font-weight: bold;
}

